@{
    ViewBag.Title = "Failure";
    Layout = "~/Views/Shared/_AccountMaster.cshtml";
}
<link href="~/Content/Pricing.css" rel="stylesheet" />
<section class="contentRes" style="margin-top:100px;height:300px;">
    <div>
        <h5 class="HeaderElements" style="width:400px;margin:auto;background-color:Red;">Your last transaction @ViewBag.OrderNo failed</h5>
    </div>
</section>
