@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_AccountMaster.cshtml";
}
<link href="~/Content/Pricing.css" rel="stylesheet" />
<section class="contentRes" style="margin-top:100px;height:300px;">
    <div>
        <h5 class="HeaderElements" style="width:500px;margin:auto;background-color:Green">Your last transaction Order No.   @ViewBag.OrderNo was successful.</h5>
    </div>

</section>
