@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_HomeMaster.cshtml";
}

<div class="container">
    <div class="row">
@Html.Partial("_LoginPartial")
@Html.Partial("_RegisterPartial")
    </div>
</div>



