@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_HomeMaster.cshtml";
}


<div style="margin-top: 100px; margin-left: 400px;  width:400px; padding-top:20px;padding-left:30px; height:210px; border: 2px solid blue; border-radius: 25px;">
    @Html.Partial("_ChangePassword")
</div>
