@{
    ViewBag.Title = "VeificationMessage";
    Layout = "~/Views/Shared/_HomeMaster.cshtml";
}

<h2>Veification Message</h2>
<div style="border:2px solid black ;width:400px;height:100px;">
    Your account has been made, <br /> please verify it by clicking the activation link that has been send to your email.
</div>
